div {
    margin: 10px;
}
input {
    width: 250px;
}
#status-label, #execute, #applyPatch {
    margin-left: 40px;
}

#extract, #extractPriority {
    margin-left: 20px;
}

textarea {
    width: 100%;
    height: 100%;
    white-space: pre;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: none;
}
#result-div {
    height: 80%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
}
#result-div-left {
    height: 100%;
    float: left;
    width: 60%;
    margin-left: 0px;
    margin-right: 0px;
}
#result-div-right {
    height: 100%;
    float: right;
    width: 40%;
    margin-left: 0px;
    margin-right: 0px;
}
#result-div-right textarea {
    border-left-style: none;
}
#log-div {
    height: 20%;
    margin-left: 0px;
    margin-right: 0px;
}
#main {
    height: 100%;
}
body {
    height: 100%;
}
#root {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 170px;
}

#merge, #patch{
    margin-left: 40px;
}